.taskBoard {
    display: grid;
}

.taskBoard__column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lavender;
    position: relative;
}

.taskBoard__column:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3rem;
    bottom: 3rem;
    width: 1px;
    background-color: #000;
}